.page {
  flex: 1;
  min-height: 100vh;
  background: #f6f6f7;
}

.content {
  display: grid;
  grid-template-columns: 420px 1fr;
  border-top: 1px solid #dadada;
  min-height: calc(100vh - 260px);
}

@media (max-width: 1200px) {
  .content {
    grid-template-columns: 360px 1fr;
  }
}

@media (max-width: 980px) {
  .content {
    grid-template-columns: 1fr;
  }
}